<ion-header xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <ion-navbar >
    <ion-title>
      <div align="center">
        <p style="font-family: Helvetica">Analysis of twitter comments</p>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<!--<ion-content padding class="bg">    <ion-item>
  <ion-input [(ngModel)]="todo" placeholder="Insert some todo here here" type="text"></ion-input>
</ion-item>
  <button ion-button (click)="add()">ADD</button>
  <ion-list>
    <ion-item-sliding *ngFor="let t of todos">
      <ion-item>
        {{t}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(t)">
          <ion-icon name="trash"></ion-icon> Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>-->
<ion-content padding class="bg">
<ion-item>
  <ion-input [(ngModel)]="link" placeholder="Insert URL you wish to extract comments from here" type="text"></ion-input>
</ion-item>
  <div align="center">
<button ion-button class="button" (click)="extract()">GO</button>
  </div>

<!--  <div *ngIf="scores"-->
  <ion-list>
    <h2 style="width: 200%" ><div *ngFor="let comment of comments" ><b><em>Comments : {{ comment.comment }}  </em></b></div></h2>
      <h2 style="width: 200%"><div *ngFor="let score of scores"><b><em>Positive Score: {{score.textpositive}} Negative Score: {{ score.textnegative}}</em></b></div> </h2>

    </ion-list>
</ion-content>
